<div class="container">
    <div class="power-container">
        <div class="row d-flex power-innerbox">
            <div class="col-lg-6 mt-5 pt-5 col-6 pe-0">
                <h1 class="d-flex align-items-center gap-2">
                    <img src="assets/images/logo_without_tag.png">
                    <div style="margin-top: 10px;"> is </div>
                </h1>
                <h2> powered by </h2>
                <h1 class="mt-0"> crypto </h1>
            </div>
            <div class="col-lg-6 col-6 ps-0 pe-0">
                <img src="assets/images/woman.png" class="power">
            </div>
        </div>
    </div>

    <div class="video-section">
        <!-- Left Menu -->
        <div class="row">
            <div class="col-lg-5">
                <div class="video-menu">
                    <div class="menu-item active" data-video="video1">
                        COME ON CROWN88
                    </div>
                    <div class="menu-item" data-video="video2">
                        Crown88 x 这里是我家
                    </div>
                    <div class="menu-item" data-video="video3">
                        CROWN88 x 小哥哥艾理
                    </div>
                    <div class="menu-item" data-video="video4">
                        CROWN88 x 小哥哥艾理
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-content">
                    <div class="video-box active position-relative" id="video1">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/JVWdlwyImIw?rel=0&amp;modestbranding=1" title="YouTube video 1" frameborder="0" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="">
                            </iframe>
                        </div>
                        <p>COME ON CROWN88 —An anthem of passion, unity, and pride. With powerful beats and bold
                            lyrics, this music video celebrates the spirit of gamers, dreamers, and believers. More
                            than just a game, it is a community. More than a place, it is home. COME ON CROWN88 —
                            where we all belong.</p>
                    </div>

                    <div class="video-box position-relative" id="video2">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/sFllN8e9mhk&amp;modestbranding=1" title="YouTube video 2" frameborder="0" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="">
                            </iframe>
                        </div>
                        <p>Crown88 x 这里是我家 — A powerful collaboration that celebrates belonging, loyalty, and unity.
                            This music video blends energetic beats with heartfelt lyrics, expressing the spirit of
                            home, community, and pride in being part of something greater. Whether you're a gamer, a
                            dreamer, or a believer, this anthem reminds you: 这里，是我家。</p>
                    </div>

                    <div class="video-box position-relative" id="video3">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/N3cZOrapK8o?rel=0&amp;modestbranding=1" title="YouTube video 3" frameborder="0" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="">
                            </iframe>
                        </div>
                        <p>CROWN88 x 小哥哥艾理 — Interview on Romanceless PeopleIn this exclusive talk, 艾理 opens up
                            about the world of romanceless people — those searching for connection in a fast-paced,
                            digital age. Together with Crown88, he reflects on belonging, loyalty, and how community
                            fills the gaps where romance once lived.</p>
                    </div>

                    <div class="video-box position-relative" id="video4">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/8MgzTG6wZYw?start=122&amp;rel=0&amp;modestbranding=1" title="YouTube video 4" frameborder="0" loading="lazy" referrerpolicy="strict-origin-when-cross-origin" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="">
                            </iframe>
                        </div>
                        <p>CROWN88 x 小哥哥艾理 — Interview on Romanceless People In this exclusive talk, 艾理 opens up
                            about the world of romanceless people — those searching for connection in a fast-paced,
                            digital age. Together with Crown88, he reflects on belonging, loyalty, and how community
                            fills the gaps where romance once lived.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-player">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5">
                <img src="assets/images/logo.png">
            </div>
            <div class="col-lg-7 text-center">
                <h6>Why Players Trust Crown88?</h6>
                <p>Crown88 is a trusted ASIA name in online gaming, known for its transparent gameplay, fast
                    payouts, and secure platform. With years of proven reliability and a growing global player base,
                    we deliver a premium experience backed by:</p>

                <div class="row mt-4">
                    <div class="col-lg-4 col-6">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer1.svg"></div>
                            <div class="ms-2"><label>Licensed Operations &amp; fair play policies</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer2.svg"></div>
                            <div class="ms-2"><label>Fast Withdrawals with 24/7 support</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer3.svg"></div>
                            <div class="ms-2"><label>Wide Game Selection from top providers</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 mt-2">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer4.svg"></div>
                            <div class="ms-2"><label>Data Security &amp; Responsible Gaming</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 mt-2">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer5.svg"></div>
                            <div class="ms-2"><label>Exclusive Rewards &amp; real-value promos</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 mt-2">
                        <div class="whyplayer-box d-flex align-items-center">
                            <div><img src="assets/images/whyplayer6.svg"></div>
                            <div class="ms-2"><label>Crypto-friendly &amp; Fiat-supported for modern convenience</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="who-choose-container">
        <h1 class="text-center">Join Thousands Who Choose Crown88 — <br> Where Trust, Fun, and Fortune come
            together.</h1>
        <div class=" text-center whochoose-imgbox d-flex justify-content-between mt-4">
            <div class="w-75">
                <img src="assets/images/whychoose1.png">
                <h6 class="mt-4">100k+ Players</h6>
                <p class="px-4">Trusted by more than 100K players join daily!</p>
            </div>
            <div class="w-75">
                <img src="assets/images/whychoose2.png">
                <h6 class="mt-4">5000+ Games</h6>
                <p class="px-4">More than 5000+ games are available for you to win!</p>
            </div>
            <div class="w-75">
                <img src="assets/images/whychoose3.png">
                <h6 class="mt-4">10+ Years</h6>
                <p class="px-5">We have been established for more than 10 years of trusted &amp; reputable online
                    casino.</p>
            </div>
        </div>
    </div>

    <div class="notjust-container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="align-items-center" style="padding: 0px 150px;"><img src="assets/images/notjustlogo.png" class="mb-2"> – Not just another platform. It’s
                    <label>THE</label> Crypto Platform.
                </h1>

                <div>
                    <p class="text-end mt-5" style="margin-left: 200px;">Crown88 has everything you crave — from
                        daily bonuses, thrilling games, monthly missions to real-world rewards. It’s the one hub
                        you’ll never want to leave. Because we’re not just a platform —<span style="font-style: italic;"> We are THE Platform. </span></p>
                </div>

                <div class="notjust-leftimg mt-4 position-absolute" style="margin-left: 200px;">
                    <img src="assets/images/exclusivestarter.png">
                </div>
                <div>
                    <img src="assets/images/cryptoplatform.png" class="cryptoplat-img2">
                </div>
            </div>
            <div class="col-lg-5 mt-5">
                <img src="assets/images/featurecollection.png" class="featurecoll-img">
            </div>
        </div>
    </div>

    <div class="diverse-container text-center">
        <h1>Diverse Range of Top Providers</h1>
        <p style="padding: 0px 250px;">Enjoy a variety of games powered by top-tier developers, ensuring premium
            performance, fairness, and nonstop entertainment.</p>

        <div class="diverse-imgbox my-5">
            <div class="scroll-box">
                <img src="assets/images/deverse0.png" alt="img">
                <img src="assets/images/deverse1.png" alt="img">
                <img src="assets/images/deverse2.png" alt="img">
                <img src="assets/images/deverse3.png" alt="img">
                <img src="assets/images/deverse4.png" alt="img">
                <img src="assets/images/deverse5.png" alt="img">
                <img src="assets/images/deverse6.png" alt="img">
                <img src="assets/images/deverse7.png" alt="img">
                <img src="assets/images/deverse8.png" alt="img">
                <img src="assets/images/deverse9.png" alt="img">
                <img src="assets/images/deverse10.png" alt="img">
                <img src="assets/images/deverse11.png" alt="img">
                <img src="assets/images/deverse12.png" alt="img">
                <img src="assets/images/deverse13.png" alt="img">
                <img src="assets/images/deverse14.png" alt="img">
                <img src="assets/images/deverse15.png" alt="img">
                <img src="assets/images/deverse16.png" alt="img">

                <img src="assets/images/deverse17.png" alt="img">
                <img src="assets/images/deverse18.png" alt="img">
                <img src="assets/images/deverse19.png" alt="img">
                <img src="assets/images/deverse20.png" alt="img">
                <img src="assets/images/deverse21.png" alt="img">
                <img src="assets/images/deverse22.png" alt="img">
                <img src="assets/images/deverse24.png" alt="img">
                <img src="assets/images/deverse25.png" alt="img">
                <img src="assets/images/deverse26.png" alt="img">
                <img src="assets/images/deverse27.png" alt="img">
                <img src="assets/images/deverse28.png" alt="img">
                <img src="assets/images/deverse29.png" alt="img">
                <img src="assets/images/deverse30.png" alt="img">
                <img src="assets/images/deverse31.png" alt="img">
                <img src="assets/images/deverse32.png" alt="img">
                <img src="assets/images/deverse33.png" alt="img">
                <img src="assets/images/deverse34.png" alt="img">
                <img src="assets/images/deverse35.png" alt="img">
            </div>
        </div>
    </div>

    <div class="achivment-container text-center mt-4">
        <h1>Achievement</h1>
        <p style="padding: 0px 250px;">Our achievements are not just milestones—they reflect the trust of our users,
            the strength of our partnerships, and our commitment to delivering an exceptional experience through
            innovation and consistency.</p>

        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-2 col-4">
                <img src="assets/images/achivment1.png">
            </div>
            <div class="col-lg-2 col-4">
                <img src="assets/images/achivment2.png">
            </div>
            <div class="col-lg-2 col-4">
                <img src="/assets/images/achivment3.png">
            </div>
            <div class="col-lg-2 col-4">
                <img src="/assets/images/achivment4.png">
            </div>
            <div class="col-lg-2 col-4">
                <img src="/assets/images/achivment5.png">
            </div>
        </div>
    </div>

    <div class="achivment-container text-center mt-4">
        <h1>Licensed &amp; Certified By</h1>
        <p style="padding: 0px 250px;">Our platform is fully licensed and certified by globally recognized
            authorities, ensuring a safe, fair, and reliable gaming environment for all players.</p>

        <div class="row d-flex align-items-center justify-content-center mt-3">
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license1.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license2.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license3.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license4.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license5.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license6.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license7.png">
            </div>
            <div class="col-lg-1 col-3">
                <img src="/assets/images/license8.png">
            </div>
        </div>
    </div>

    <div class="footer-container text-center">
        <h1>Singapore’s Premier Crypto Casino <br> &amp; Betting Destination</h1>
        <p>Play live casino, bet on sports, and spin the best slots — all with fast, secure crypto transactions.</p>

        <div class="text-center mt-4 mb-4">
            <a href="https://c88.io" class="anchor-link">Play Now</a>
        </div>

        <div class="text-start">
            <h6>Crown88: Singapore’s Premier Crypto &amp; Betting Destination</h6>
            <p>Step into the World of Crown 88 — the premier crypto-friendly online casino and betting platform
                designed for players everywhere. We combine cutting-edge blockchain technology with world-class
                gaming to deliver a secure, transparent, and exciting experience you can trust, no matter where you
                are.</p>
        </div>

        <div class="text-start mt-4">
            <h6>Why Crown88 is Best Choice for You</h6>
            <ul>
                <li>Crypto-First Convenience: Enjoy seamless, fast deposits and withdrawals in crypto and fiat.</li>
                <li>Transparent Gameplay: Provably fair games with blockchain-back integrity.</li>
                <li>24/7 Fast Payouts: Withdraw your winnings quickly, anytime.</li>
                <li>Exclusive Rewards: Unlock bonuses, promos, and real-world prizes.</li>
                <li>Secure and Trusted: Licensed operations, responsible gaming policies, and robust data security.
                </li>
            </ul>
        </div>

        <div class="text-start mt-4">
            <h6>Live Casino Games at Crown88</h6>
            <p>Experience the thrill of live tables wherever you are. Play classic favourites like Blackjack,
                Roulette, Baccarat, and Poker all streamed in real time with professional dealers. Enjoy the
                authentic casino vibe without leaving your home.</p>
        </div>

        <div class="text-start mt-4">
            <h6>Sports Betting at Crown88</h6>
            <p>Bet smarter with Crown88’s intuitive sportsbook. From football and basketball to tennis and esports,
                enjoy live odds, in-play betting, and crypto-friendly wagers - all at your fingertips.</p>
        </div>

        <div class="text-start mt-4">
            <h6>Slots Games at Crown88</h6>
            <p>Spin and win across a massive range of slot games — from classic fruit machines to cutting-edge video
                slots. With high RTPs, crypto jackpots, and exciting themes, every spin brings a new thrill.</p>
        </div>

        <div class="text-start mt-4">
            <h6>Get Started with Crown88</h6>
            <p>Ready to play? Signing up is just easy. Just register, deposit crypto, and jump straight into action.
                Whether your betting, spinning, or playing live — Crown88 is your fast-track to entertainment.</p>
        </div>

        <div class="text-center mt-4 mb-4">
            <a class="anchor-link" href="https://c88.io">Sign Up Now</a>
        </div>

        <div class="footer-line"></div>

        <div class="d-flex justify-content-between mt-3 mb-5 footer-copyright-box">
            <label>Copyright © 2010-2025 Crown88. All Rights Reserved.</label>

            <div class="d-flex align-items-center gap-2 footer-linkimg">
                <label>Follow Us</label>
                <img src="/assets/images/facebook.png">
                <img src="/assets/images/Instagram.png">
                <img src="/assets/images/YouTube.png">
                <img src="/assets/images/telegram.png">
                <img src="/assets/images/x-social-media.png">
            </div>
        </div>
    </div>
</div>
